@model Lab5NET.Models.ViewModels.NewsViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Fans.FirstOrDefault().LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fans.FirstOrDefault().FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fans.FirstOrDefault().BirthDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var fan in Model.Fans)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => fan.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => fan.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => fan.BirthDate)
                </td>
                <td>
                    <a asp-action="Index" asp-route-id="@fan.Id">Select</a> |
                    <a asp-action="Edit" asp-route-id="@fan.Id">Edit</a> |
                    <a asp-action="EditSubscriptions" asp-route-id="@fan.Id">Edit Subscriptions</a> |
                    <a asp-action="Details" asp-route-id="@fan.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@fan.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@if (Model.SportClubs != null)
{
    <h3>Member of the following Sport Clubs:</h3>
    <table class="table">
        <thead>
            <tr>
                @if (Model.SportClubs.Any())
                {
                    <th>Title</th>
                }
                else
                {
                    <th>No subscription record exists</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var club in Model.SportClubs)
            {
                <tr>
                    <td>
                        @club.Title
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
